extends layout
block head
  link(rel="stylesheet", href="/stylesheets/creation.css")
block content
  h1=title
  p.error=errmsg
  include templates/action_form

  include histories/history_creation

  a.button(href='/page/1') Page 1


