extends layout

block myNav
  include templates/navigation

block content
  h1= pagerData.title
  p Welcome to #{pagerData.title}

  div
    include templates/action_form
block myFooter
    include templates/footer