extends layout

block content
  h1= title
  p Welcome to #{title}
  include histories/history_introduction
  p
    a(href='/creation') Start Game
  p
    button(class="btn", onclick="window.open('/creation', '_self')") Start Game
