doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')

  include templates/navigation

  //nav id="nav01"
  //script(src='C:\Users\opris_000\Documents\PolyMtl\LOG4420\LOG4420_TP\log4420_app\routes\navigation.js')
  
  body
    block content

    include templates/footer
