doctype html
html(ng-app="gameApp")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        block head
    body
        header
            include templates/navigation
            img(src="/images/lone_wolf_logo.png" class="header-logo")
        div(class="container")
            block content

    //script(src="./../js/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js")
    script(src="./../js/angular-messages.js")
    script(src="./../js/angular-route.min.js")
    script(src="./../app/app.js")
    script(src="./../app/formController.js")
    aside
        figure
            a(href='http://www.projectaon.org/en/Main/Home')

    footer
        include templates/footer