doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  nav
    include templates/navigation
  body
    block content

  footer
    include templates/footer
