doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
        block head
    body
        header
            include templates/navigation
            img(src="/images/lone_wolf_logo.png" class="header-logo")
        div(class="container")
            block content

    aside
        figure
            a(href='http://www.projectaon.org/en/Main/Home')

    footer
        include templates/footer