extends layout
block content

   div
      img(src="/images/pageTitre.png")
   h1= title

   section(id="flex-container")
      div(class="flex-item")
         !{htmlPage}
      div(class="flex-item")
         include templates/form_info.jade
         include templates/battle_result

