extends layout

block content
  h1= title
  section
    h1 Wolf's capability
    include templates/capability_list
    h2 Wolf's weapons
    include templates/weapons_list
    h2 Combat records
    include templates/record