p L'huile de Bakanal vous permet cependant de conserver suffisamment de chaleur dans votre corps pour arriver à survivre : sans elle, le froid aurait eu raison de vous.
div#decision
    img(src="/images/decision.jpg")
    div
        p À présent, #[a(href="/page/155/1") rendez-vous au 155].