
div#decision
    img(src="/images/decision.jpg")
    div
        p Si le total obtenu se situe entre -2 et 2, #[a(href="/jeu/248") rendez-vous au 248].
        p S'il est de 3 à 10, #[a(href="/jeu/191") rendez-vous au 191].
