p Votre matériel de transport est constitué de deux traîneaux tirés chacun par un attelage de chiens Kanu. Cette race vigoureuse est uniquement élevée à Kalte et on ne trouve pas meilleurs chiens de traîneau. Leur épaisse fourrure fauve, leur poitrail puissant, leur robustesse et leur ardeur qui ne faiblit jamais, même dans les climats les plus froids, les rendent particulièrement aptes à accomplir la tâche qui les attend.
p Chaque traîneau contient suffisamment de vivres et de matériel pour mener à bien votre mission. Quant à vos trois guides, Irian, Fenor et Dyce, ce sont des trappeurs expérimentés pour qui les techniques de survie dans les régions polaires n'ont pas de secrets. De plus, ils connaissent bien les périls cachés qui abondent dans les terres de Kalte.
p Dès que les chiens sont attelés, vous prenez place sur l'un des traîneaux en compagnie de Dyce, tandis que les autres ouvrent la voie sur l'autre traîneau. En contemplant l'étendue glacée de la banquise de Liouk, vous apercevez une lueur blanche à l'horizon : c'est le glacier de Viad dont la coulée de glace vient se jeter sur la banquise. L'air vif et limpide de Kalte donne une fausse impression des distances : on dirait que le glacier se trouve à une dizaine de kilomètres, alors qu'en fait il est distant d'au moins 100 kilomètres.
p La première journée de votre voyage se passe bien et vous parcourez un bon nombre de kilomètres. Lorsque, enfin, le soleil se couche, vous décidez d'établir votre campement pour la nuit. Vous vous arrêtez au milieu d'un cercle formé par des piliers de glace qui se sont dressés sous la pression de la banquise sans cesse en mouvement. Les traîneaux sont rangés côte à côte et la tente installée juste devant. On trouve ensuite un abri où les chiens pourront passer la nuit, puis l'heure vient de préparer le dîner. Vous êtes tous rassemblés sous la tente lorsqu'un terrible rugissement retentit soudain au-dehors.
p « Par tous les dieux ! s'écrie Irian, un Bakanal ! »
p Les Bakanals sont de grandes créatures carnivores qui vivent à proximité descôtes de Kalte. Ils se nourrissent habituellement de gaillelots ou de petites ostrelles qui abondent au bord de la mer. Ce Bakanal, cependant, a été attiré par l'odeur des chiens et il s'apprête à les attaquer, bien décidé à en dévorer plusieurs d'un coup.
div#decision
   img(src="/images/decision.jpg")
   div
      p Si vous maîtrisez la Discipline Kaï de la Chasse, #[a(href="/jeu/204") rendez-vous au 204].
      p Si vous maîtrisez la Discipline Kaï de la Communication Animale, #[a(href="/jeu/318") rendez-vous au 318].
      p Si vous souhaitez sortir de la tente pour vous lancer à l'attaque du Bakanal, #[a(href="/jeu/78") rendez-vous au 78].

