
div#decision
    p Si vous acceptez de l'imiter en vous appliquant de l'huile de Bakanal sur le corps, #[a(href="/91") rendez-vous au 91].
    p Si, en revanche, l'idée de sentir à peu près aussi bon qu'une cuve remplie de roquefort rance ne vous séduit guère, #[a(href="/172") rendez-vous au 172].
