p La bête, avant de mourir, pousse un dernier cri d'agonie et une odeur pestilentielle vous frappe aussitôt les narines. Même les chiens Kanu froncent le museau en signe de dégoût et se détournent pour essayer d'échapper à l'effroyable puanteur.
p Irian s'approche alors du cadavre avec un couteau à la main etentreprend de dépecer la créature. Vous faites une grimace en le voyant découper la peau de l'animal, de la gorge au ventre pour l'arracher ensuite de sa chair. Mais vous n'êtes pas au bout de votre écœurement : Irian, en effet, plonge les mains dans la carcasse béante et en retire une graisse épaisse dont il s'enduit le visage et le corps.« C'est de l'huile de Bakanal, s'écrie-t-il avec enthousiasme, elle protège du froid et de l'humidité ; c'est encore mieux que la fourrure pour se préserver des glaces de Kalte. » En même temps, il tend vers vous une main pleine de graisse immonde dont il vous invite à vous enduire la peau à votre tour.
img(src="/images/p245.png")
div#decision
    img(src="/images/decision.jpg")
    div
        p Si vous acceptez de l'imiter en vous appliquant de l'huile de Bakanal sur le corps, #[a(href="/page/91/1") rendez-vous au 91].
        p Si, en revanche, l'idée de sentir à peu près aussi bon qu'une cuve remplie de roquefort rance ne vous séduit guère, #[a(href="/page/172/1") rendez-vous au 172].