p Dix minutes plus tard, vos pieds et vos mains ont subi les effets du gel. Sur cette paroi exposée, les vents glacés soufflent à plus de 150 kilomètres à l'heure. Vous tenez bon pendant encore une demi-heure, mais le froid a finalement raison de vous : vous perdez connaissance et vous tombez d'une hauteur de 900 mètres.

p Faut-il préciser que votre mission s'achève ici en même temps que votre vie?
