div#decision
   p If you wish to attempt the shorter, but more difficult Viad Glacier route, #[a(href="/160") turn to 160].
   br
   | If you wish to take the longer, but easier Hrod Basin and Storm Giant Pass route, #[a(href="/273") turn to 273].