
div#decision
    p
    | If the number you have picked is 0–3,
    a(href='/57') turn to 57.
    br
    | If the number you have picked is 4–6, turn to 188.
    br
    | If the number you have picked is 7–9,
    a(href='/331') turn to 331.