p Cette nuit-là, une tempête souffle sur la banquise et enterre votre tente sous la neige. Tandis que vous dormez, la toile fléchit sous le poids de cette couche compacte et vient effleurer vos Couvertures de Fourrure. Au matin, celles-ci sont trempées et, lorsque vous vous réveillez, vos deux jambes sont paralysées par de terribles crampes. Il vous faut les masser pendant presque une heure avant que vous ne puissiez à nouveau vous tenir debout. Vous souhaitez alors n'avoir jamais mis les pieds dans cet enfer glacé.
div#decision
    img(src="/images/decision.jpg")
    div
        p #[a(href="/page/167/1") Rendez-vous au 167].