p.
    You hold your breath as you wipe handfuls of the slimy grease inside your jacket. But as the oil penetrates your skin,
    |you feel a warm glow, as if you were near an open fire. The more grease that you apply, the warmer you become. You also
    |notice that the terrible smell is gradually fading away. (Note the fact that you have applied Baknar oil on your Action
    |Chart although it does not take up any space and only applies for the duration of this adventure.)
    |‘Once it’s in your skin, you can’t smell a thing,’ says Irian, calling the others to take some Baknar oil.
    |This oil is excellent insulation against the freezing temperatures of Kalte, and may well help you in the near future.
    |As you return to your tent, only the Kanu-dogs seem to object to the smell. They whine and bury their noses in the snow as you walk past.

img(src="/images/p91.png")

div#decision
    a(href='/134')  Turn to 134.
