p.
    You hold your breath as you wipe handfuls of the slimy grease inside your jacket. But as the oil penetrates your skin,
    |you feel a warm glow, as if you were near an open fire. The more grease that you apply, the warmer you become. You also
    |notice that the terrible smell is gradually fading away. (Note the fact that you have applied Baknar oil on your Action
    |Chart although it does not take up any space and only applies for the duration of this adventure.)
    |‘Once it’s in your skin, you can’t smell a thing,’ says Irian, calling the others to take some Baknar oil.
    |This oil is excellent insulation against the freezing temperatures of Kalte, and may well help you in the near future.
    |As you return to your tent, only the Kanu-dogs seem to object to the smell. They whine and bury their noses in the snow as you walk past.


p 	Vous retenez votre respiration tandis que vous vous enduisez le torse de cette graisse gluante. A mesure que l'huile imprègne votre peau, cependant, vous sentez une bienfaisante chaleur rayonner dans tout votre corps, comme si vous vous trouviez près d'un feu. Et plus vous appliquez de graisse, plus vous avez chaud. Vous remarquez également que l'épouvantable odeur s'est dissipée.

img.text(src="/images/p91.png")

p 	«Lorsque l'huile pénètre dans la peau, on perd l'odorat», dit Irian. Il recommande aux autres de se frictionner à leur tour avec l'huile de Bakanal ; cette substance apporte une protection particulièrement efficace contre les températures glaciales de Kalte, et elle pourrait bien se révéler particulièrement utile dans un proche avenir. Lorsque vous revenez sous votre tente, les chiens Kanu ne semblent pas apprécier l'odeur que vous dégagez: quand vous passez près d'eux, ils se mettent à gémir et enfouissent leur museau dans la neige.
