p.
    Vous refusez l'huile de Bakanal que vous propose Irian et vous retournez sous la tente. Les autres, cependant, après vous avoir félicité de votre victoire sur la créature, sortent à leur tour de la tente et vont rejoindre Irian. Stupéfait, vous les voyez alors plonger eux aussi les mains dans la graisse de Bakanal et s'en enduire le corps sous leurs vêtements.
p.
    Un peu plus tard dans la soirée, vous finissez par vous endormir, non sans avoir pris la précaution de vous boucher les narines avec du coton. Les autres, pour leur part, ne semblent pas le moins du monde incommodés par l'épouvantable odeur.
div#decision
    img(src="/images/decision.jpg")
    div
        p #[a(href="/134") Rendez-vous au 134].

