p Utilisez la Table de Hasard pour obtenir un chiffre.
div#decision
    img(src="/images/decision.jpg")
    div
        p Si vous tirez un chiffre entre 0 et 4, #[a(href="/62") rendez-vous au 62].
        p Entre 5 et 9, #[a(href="/288") rendez-vous au 288].