
div#decision
  img(src="/images/decision.jpg")
  div
      p Si vous tuez la créature sans perdre aucun point d'ENDURANCE, #[a(href="/page/70/1") rendez-vous au 70].
      p  Si vous perdez des points d'ENDURANCE aucours du combat, #[a(href="/page/129/1") rendez-vous immédiatement au 129].
