p.
    The following morning, you awake at dawn to the welcome sight of Fenor preparing a hot breakfast.
    |He passes you a steaming bowl, and you gratefully eat its contents.
    |Then you begin loading the equipment onto the sledges for today’s journey.
    |It is a beautiful morning. The wind has dropped and the air is fresh and clear. The Kanu-dogs are strong and eager to be off,
    |and for most of the day the ice is smooth and the running easy. By nightfall, you have reached Syem Island, a pinnacle of granite rising through the ice shelf to a height of four hundred feet.
    |You make camp to the leeward side of the island in order to avoid the worst of the night winds.
    |Pick a number from the Random Number Table.
