//
                                     Created by Zoe on 15-09-17.
section
//h1 History
p
| Even before you accepted the task of bringing Vonotar to justice, preparations were being made for your voyage to Kalte. The captain of the Sommlending warship Cardonal, having returned from a long Kaltersee patrol, was ordered to await your arrival at Anskaven. During the night, food, ice equipment, and Kanu-dog teams were taken on board. The mission was highly secret—only senior members of the crew were told the true nature of the voyage that lay ahead.
br
br
| The plan is to set you ashore at Halle Bluff, drop anchor, and await your return. An élite team of trusted guides will lead you from the bluff to Ikaya. Once inside the ice fortress, you are to hunt down and capture Vonotar, and then return with your guides to the ship. Your mission must be accomplished within thirty days at most, for winter is closing in and no ship can withstand the grip of the Kalte pack-ice. If you do not return in time, the captain will be forced to set sail without you.
br
br
| For six days, the Cardonal sails across the stormy Kaltersee without running into a storm; but every day the temperature steadily drops until a layer of ice covers the decks. On the morning of the seventh day, the snow-capped island of Tola is sighted on the horizon. Soon after, a light wind rises from the east.|At first, there appears to be little danger, but within half an hour a furious blizzard is blowing, and all sight of land quickly vanishes in the scudding drift. All day the furious gale rages. Tremendous winds slice the tops of the huge grey waves and water crashes over the decks, masts, and rigging of the ship, freezing almost immediately into solid ice. The sides of the ship become several feet thick with seawater.You are soon to discover that the gale has blown the ship nearly thirty miles off course, along the lip of the Ljuk ice shelf. You know that to return to Halle Bluff would waste a precious day, so you decide to land on the ice shelf and start your mission from there.
br
br
figure
img(src="/pictures/img_page1.png")
p As the last of the Kanu-dogs are carried ashore, your guides tell you of the two possible routes to Ikaya from here. The first route involves a hundred and thirty mile trek to Cloudmaker Mountain and then, following the difficult terrain of the Viad Glacier, a further hundred miles must be covered before you arrive at the ice fortress. The alternative route involves a longer journey of nearly one hundred and eighty miles into the Hrod Basin, followed by a trek of a hundred miles through Storm Giant Pass to Ikaya. Even if the weather and your luck hold good, either route will involve ten days of hard trekking before you reach your goal. You should consult the map of Kalte before making your decision. It is not until early evening that the weather clears, and although the wind still blows strongly, the force of the gale is spent.
br
br
figure
img(src="/pictures/img_map.png",title="The Icy Wastes of Kalte")
p If you wish to attempt the shorter, but more difficult Viad Glacier route,
    a(href='/160')  turn to 160.
p If you wish to take the longer, but easier Hrod Basin and Storm Giant Pass route, turn to 273.