
div#decision
    img(src="/images/decision.jpg")
    div
        p Si vous souhaitez tirer votre épéeet aller voir de quoi il s'agit, #[a(href="/jeu/180") rendez-vous au 180].
        p  Si vous préférez retenir votre souffle en restant aussi immobile que possible, #[a(href="/jeu/259") rendez-vous au 259].
