p «Est-ce que vous parlez un peu la langue des Barbares des Glaces ? demande Dyce qui essaie d'entretenir la conversation. Pour ma part, je ne connais que quelques mots, Myjavik, par exemple.
p Lorsque vous lui demandez ce que ce mot signifie, il observe un instant de silence puis vous répond: «Terreur...  Myjavik signifie terreur. »
p Soudain, un bruit impressionnant retentit à l'extérieur de la tente. On dirait le rugissement d'un gros animal.

div#decision
    img(src="/images/decision.jpg")
    div
        p Si vous souhaitez tirer votre épéeet aller voir de quoi il s'agit, #[a(href="/jeu/180") rendez-vous au 180].
        p  Si vous préférez retenir votre souffle en restant aussi immobile que possible, #[a(href="/jeu/259") rendez-vous au 259].
