p Pendant trois jours et trois nuits vous parcourez les étenduesmornes et hostiles du glacier de Viad. Irian et Fenor ont tous deux souffert de cécité des neiges et il semble que le vent implacable qui souffle du nord épuise les forces de chacun. Au matin du quatrième jour, le vent tombe enfin et vous pouvez faire le point pour calculer votre position exacte. A la consternation générale, Irian annonce alors que vous vous êtes sensiblement écartés de votre route.
p Face à vous, les crêtes grises d'une chaîne de montagnes se dessinent dans les neiges du nord, offrant un spectacle sinistre et menaçant. «Ce sont les monts Myjavik, constate Dyce, nous sommes allés trop loin à l'est. » Son visage barbu exprime une amère déception.
p Les monts Myjavik se dressent à présent entre la forteresse et vous. Pour les franchir, vous devrez abandonner chiens et traîneaux, porter votre matériel sur le dos et poursuivre votre chemin à pied. Il y a une autre possibilité, mais elle vous ferait perdre deux jours qui pourraient être précieux : il s'agirait de revenir en arrière jusqu'au glacier pour reprendre là votre route jusqu'à Ikaya.
div#decision
    img(src="/images/decision.jpg")
    div
        p Si vous souhaitez abandonner les traîneaux et les chiens pourfranchir à pied les monts Myjavik, #[a(href="/12") rendez-vous au 12].
        p Si vous préférez perdre deux jours et revenir sur le glacier de Viad, #[a(href="/238") rendez-vous au 238].
