
div#decision
    img(src="/images/decision.jpg")
    div
        p Si vous vous êtes enduit le corps d'huile de Bakanal, #[a(href="/jeu/209") rendez-vous au 209].
        p Dans le cas contraire, #[a(href="/jeu/339") rendez-vous au 339].
