
div#decision
    p
        |Pick a number from the Random Number Table.
        br
        |If the number you have picked is 0–4, #[a(href="/62") turn to 62].
        br
        |If the number you have picked is 5–9, #[a(href="/288") turn to 288].