p.
    Le vent tombe peu à peu, l'atmosphère s'éclaircit et le Glacier de Viad se révèle alors dans toute sa splendeur. La surface lisse de la glace ressemble à un tapis de neige étincelante incrustée de pierres de toutes les couleurs : jaunes, violettes, bleues, vertes, orange, cramoisies; et les cristaux de glace brillent d'un tel éclat que le plus somptueux bijou paraîtrait terne par comparaison. Le mur de glace s'élève à 250 mètres de hauteur et ne présente pas d'obstacle à l'escalade, bien qu'il soit très escarpé. Le temps est beau, mais il vous faut presque une journée entière pour grimper au sommet de la paroi de glace. Tout le matériel a été déchargé et monté là-haut où on l'arrime à nouveau sur les traîneaux. Les chiens Kanu jouent entre eux en se battant, et vos provisions sont à tel point secouées par l'escalade qu'elles se sont transformées à la fin de la journée en une infâme bouillie.

p.
    Lorsque tout est enfin terminé, vous êtes épuisé. La nuit tombe et vous décidez donc d'établir votre campement dans l'abri que vous offre une cuvette naturelle creusée dans la glace. Vous avez sans nul doute bien mérité une bonne nuit de repos.

p Utilisez la Table de Hasard pour obtenir un chiffre.

