
div#decision
    img(src="/images/decision.jpg")
    div
        p Si vous souhaitez abandonner les traîneaux et les chiens pourfranchir à pied les monts Myjavik, #[a(href="/jeu/12") rendez-vous au 12].
        p Si vous préférez perdre deux jours et revenir sur le glacier de Viad, #[a(href="/jeu/238") rendez-vous au 238].
