p.
    Le lendemain à l'aube, lorsque vous vous réveillez, Fenor est en train de préparer le petit déjeuner. Il vous tend alors un bol fumant et vous ne vous faites guère prier pour en avaler le contenu. Vous chargez ensuite le matériel sur les traîneaux avant de reprendre votre chemin.    

p.
    C'est une belle matinée. Le vent est tombé et l'air est frais et limpide. Les chiens Kanu, débordant d'énergie, sont impatients de repartir. Pendant la plus grande partie de votre trajet, la glace est lisse et vous avancez sans difficulté. A la nuit tombée, vous avez atteint l'île de Syem, un pic de granité qui s'élève à 120 mètres au-dessus de la banquise. Vous établissez votre campement du côté sous le vent pour essayer de vous protéger le mieux possible d'éventuelles tempêtes nocturnes.

p Utilisez la Table de Hasard pour obtenir un chiffre.

include mixins/decisionSection
div#decision
    p Si vous tirez un chiffre entre 0 et 3, #[a(href="/jeu/57") rendez-vous au 57].
    p Entre 4 et 6, #[a(href="/jeu/188") rendez-vous au 188].
    p Entre 7 et 9, #[a(href="/jeu/331") rendez-vous au 331].
