

p 	Vous retenez votre respiration tandis que vous vous enduisez le torse de cette graisse gluante. A mesure que l'huile imprègne votre peau, cependant, vous sentez une bienfaisante chaleur rayonner dans tout votre corps, comme si vous vous trouviez près d'un feu. Et plus vous appliquez de graisse, plus vous avez chaud. Vous remarquez également que l'épouvantable odeur s'est dissipée.

img.text(src="/images/p91.png")

p 	«Lorsque l'huile pénètre dans la peau, on perd l'odorat», dit Irian. Il recommande aux autres de se frictionner à leur tour avec l'huile de Bakanal ; cette substance apporte une protection particulièrement efficace contre les températures glaciales de Kalte, et elle pourrait bien se révéler particulièrement utile dans un proche avenir. Lorsque vous revenez sous votre tente, les chiens Kanu ne semblent pas apprécier l'odeur que vous dégagez: quand vous passez près d'eux, ils se mettent à gémir et enfouissent leur museau dans la neige.

div#decision
    //p #[a(href="/134") Rendez-vous au 134]
    a(href='/134')  turning to 134.
