p « Vite ! il faut remballer nos affaires et partir immédiatement ! s'écrie Fenor, tandis que le mugissement du vent emporte ses paroles dans la nuit noire. Les Languabarbs ne chassent jamais seuls ; il y en a sûrement d'autres à proximité et ils sentent l'odeur du sang à des kilomètres à la ronde. »

p Vous démontez la tente et vous vous hâtez de partir, Dyce ouvrant la marche, vous-même surveillant les arrières. Mais à peine avez-vous parcour uune cinquantaine de mètres qu'une catastrophe survient. Aveuglé à la fois par le vent et l'obscurité, Dyce ne remarque pas que le chemin s'arrête brusquement, tout au bord d'un précipice. Votresang se glace d'horreur lorsque vous entendez les cris de vos deux guides retentir dans les ténèbres, puis décroître tout au long de leur chute. La mort vous menace de tous côtés et vous vous cramponnez désespérément à la paroi glacée.

div#decision
    img(src="/images/decision.jpg")
    div
        p Si vous vous êtes enduit le corps d'huile de Bakanal, #[a(href="/jeu/209") rendez-vous au 209].
        p Dans le cas contraire, #[a(href="/jeu/339") rendez-vous au 339].