p.
     Le matériel et les vivres sont rapidement déballés et répartisentre vous. Vous recevez des provisions qui représentent l'équivalent de 3 Repas, des Couvertures en Fourrure et une Corde. Inscrivez tous ces éléments sur votre Feuille d'Aventure en sachant que les Couvertures en Fourrure prennent dans votre Sac à Dos la place de deux objets normaux.

//p 	To continue, you must confirm the backpack items change. 
a(href="#backpack_change" id="backpack_change_btn" type="button") Confirm backpack items change

p.
    Il vous est impossible d'emmener les chiens Kanu dans les montagnes et vous êtes donc contraint de les abandonner ici, de même que les traîneaux. Vous vous encordez avec vos guides, et vous vous mettez en route en direction d'un étroit passage qui s'enfonce entre les pics sombres et sinistres. Tout d'abord, l'escalade ne présente pas de difficultés bientôt mais, la pente de glace lisse devient abrupte et votre progression est beaucoup plus malaisée. Un vent se lève qui forme des tas de neige poudreuse contre les blocs de glace et la visibilité est alors réduite à quelques mètres. Les tas de neige sont trompeurs et parfois profonds. A deux reprises, vous vous y enfoncez jusqu'à la poitrine et les autres doivent venir vous dégager.

p.
    Cette nuit-là, vous dressez votre tente sur une surface de granité recouverte de glace qui surplombe un profond ravin. Vous êtes épuisé et vous vous endormez presque au cours du Repas (n'oubliez pas de rayer ce Repas de votre Feuilled'Aventure).

p.
     «Est-ce que vous parlez un peu la langue des Barbares des Glaces ? demande Dyce qui essaie d'entretenir la conversation. Pour ma part, je ne connais que quelques mots, Myjavik, par exemple.

p.
    Lorsque vous lui demandez ce que ce mot signifie, il observe un instant de silence puis vous répond: «Terreur...  Myjavik signifie terreur. »

p.
    Soudain, un bruit impressionnant retentit à l'extérieur de la tente. On dirait le rugissement d'un gros animal.

div#decision
    p Si vous souhaitez tirer votre épéeet aller voir de quoi il s'agit, #[a(href="/jeu/180") rendez-vous au 180].
    p  Si vous préférez retenir votre souffle en restant aussi immobile que possible, #[a(href="/jeu/259") rendez-vous au 259].

