

p.
    The following day, the weather becomes bitterly cold. Wind from the north brings a hail of ice that stings your face. Your lips soon split and bleed. By midday, you are engulfed in a blizzard that makes progress slow and tiring. The howling wind forces you to dismount from your sledge and push it. You feel utterly exhausted. Your hands and toes are numb with the cold; the sweat from your exertions freezes to your skin, lining your boots and mittens with a layer of ice.
p.
    By the time you reach the glacier’s edge, it is nearly nightfall. You are all so exhausted that you barely have the energy to pitch your tent and eat a meal. Disaster has all but overtaken you. You have frostbite in your toes, fingers, and nose, and unless you have the Kai Discipline of Healing, you lose 4 ENDURANCE points.
button(class="submit") Endurance Points
p Because you don't have Healing, you lose 4 endurance points. Your endurance points is 12.
div#decision
    p
        |Pick a number from the Random Number Table.
        br
        |If the number you have picked is 0–4, #[a(href="/62") turn to 62].
        br
        |If the number you have picked is 5–9, #[a(href="/288") turn to 288].