
section
    h1 History
    p Preparing yourself, you pull back the flap of the tent and quickly leave. The wind has become much stronger, and it whips the fine snow into small eddies, obscuring your vision. A shadow to your right betrays the Baknar as it lopes towards you. There is no time to evade its attack and you must fight the creature to the death.
    figure
        img(src="/pictures/img_baknar.png")
    p Baknar: COMBAT SKILL 19   ENDURANCE 30
    p If you win the combat,turn to 245.
