section
    p
    |Your transport to Ikaya consists of two sledges, each drawn by a team of six Kanu-dogs. This sturdy breed is native to Kalte, and they make ideal sledge dogs. Their thick tawny coats and powerful chests, as well as their vigour and enthusiasm even in the coldest climates, make them well suited to the work ahead.
    br
    br
    |On board each sledge is enough food and equipment for the mission. Your three guides, Irian, Fenor, and Dyce, are all experienced trappers. They are skilled at survival in the icy desert, and know of the many unseen dangers.
    br
    br
    |Once the dogs are harnessed, you and Dyce climb aboard your sledge and signal to the others to lead the way. As you stare across the frozen expanse of the Ljuk ice shelf, you can see a white glare on the distant horizon. This is the Viad Glacier wall, the point where the flow of ice meets the frozen sea. Through the crisp, clear air of Kalte it looks no more than six miles away at most, but in reality it is nearer sixty miles away.
    br
    br
    |You make good progress on the first day and as darkness approaches, you decide to set up camp for the night. You halt inside a circle of ice pillars that have been forced upwards by the constantly moving ice shelf. The sledges are drawn together and the tent is erected beside them. Once the canvas is secured and the Kanu-dogs have been settled for the night, you begin to prepare your evening meal. Suddenly, a terrifying roar is heard outside the tent.
    br
    br
    |‘By the gods!’ cries Irian. ‘A Baknar!’
    br
    br
    |Baknar are large carnivorous creatures that dwell near the Kalte coastline. Their usual prey are gallings or the smaller ostrels that live at the sea’s edge. But this Baknar has been attracted by the scent of the dogs. It is about to attack and eat several of your sledge dog team.
    br
    br
    |If you have the Kai Discipline of Hunting, turn to 204.
    br
    br
    |If you have the Kai Discipline of Animal Kinship, turn to 318.
    br
    br

    p Otherwise, leave the tent and attack the Baknar by
        a(href='/78')  turning to 78
