//
   Created by Zoe on 15-09-17.

section
   h1 Kai Wisdom
   p Your mission will be fraught with great danger, for Kalte is a bleak and hostile land and your foe is a master of cunning. Use the map to help you plot your course to the ice fortress of Ikaya. Make notes as you progress through the story, for they will be of great help in future adventures. Many things that you find will aid you during your adventure. Some Special Items will be of use in future Lone Wolf adventures and others may be red herrings of no real use at all, so be selective in what you decide to keep.
      | There are many routes to the ice fortress of Ikaya, but only one will enable you to capture Vonotar and return to Sommerlund with the minimum of danger. A wise choice of Kai Disciplines and a great deal of courage should enable any player to complete the mission, no matter how weak his initial COMBAT SKILL or ENDURANCE points score. Successful completion of previous Lone Wolf adventures is not essential for the success of this quest.
      | The betrayal of your country can be avenged by bringing the traitor to justice.
      | Good Luck!