//
   Created by Zoe on 15-09-17.

  p
  |You are Lone Wolf—last of the Kai Lords. To the south of your homeland of Sommerlund lies the rich but remote mining province of Ruanon. When a regular shipment of gold suddenly vanishes, the King dispatches a patrol of his best cavalry to investigate the suspected theft. They do not return.
  br
  br
  |In The Chasm of Doom, you are sent to recover the missing gold and locate the lost patrol, but you soon discover that it is a mission of direful consequence—for the fate of your country is at stake!
  br
  br

  section
  h2 The Story So Far
  p
  |Ruanon is a remote mining province to the south of your homeland, Sommerlund. Nestling between the sullen peaks of the Durncrag and Maaken mountains, the people of this province have long prospered from their toil in the ore-rich mines, living and enjoying their wealth under the protection of their lord—Baron Vanalund.
  br
  br
  |The gold and gems that are mined at Ruanon yield an important source of revenue to your homeland. The heavily guarded convoy of wagons that leave the province and journey to the capital has become a regular monthly routine; a routine that had never been broken until one month ago when, suddenly, all contact with Ruanon ceased. A troop of one hundred cavalry from the King’s Guard were immediately dispatched to investigate the whereabouts of the missing convoy. Their commanding officer, Captain D’Val, was ordered to report back to the King as soon as contact was made, but he and his men have not returned: they too have disappeared without trace.
  br
  br
  |The King has summoned you, Lone Wolf, last of the Kai Lords, to his citadel at Holmgard. Your quest is to find Captain D’Val and his men, discover what has happened to the missing convoy, and to uncover the veil of mystery that now hangs over Ruanon. The King has gathered a company of Border Rangers, a unit of élite scouts, all of whom are skilled in horsemanship and outdoor survival. He has ordered these fifty men to accompany you in the hope that, with your leadership, they may succeed where the larger and more visible force failed.
  br
  br
  |As you and your men enter the Royal Armoury to equip yourselves for the long ride ahead, you glimpse a black crow perched on a window ledge high above. It flies away, but not before a shiver has run down your spine: in Holmgard, the crow is a bird of ill omen.
  br
  br