#creationJoueur {
    background-color: #808080;
}

img {
    width: 736px;
    height: 200px;
    margin: 20px auto 10px;
    display: block;
}

fieldset {
    margin-bottom: 30px;
    border: 2px solid black;
    border-color: gray;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}

legend {
    padding: 0 10px;
    margin-left: 15px;
    font-size: 1.5em;
}

form p {
    margin: 20px 20px;
}

section label {
    display: block;
    margin: 0 0 10px 10px;
}

div#gauche, div#droite {
    width: 250px;
}

div {
    display: inline-block;
    vertical-align: top;
    margin: 10px 20px;
}

form label input {
    margin-right: 10px;
}

.button {
  line-height: 55px;
}
