// Mihai Opris 2015-09-19

h1 Battle result
table
  tr
    th Player |
    th Endurance pts lost |
    th Endurance pts left |
    th Gold coins lost |
    th Gold coins won |
    th Gold coins total |
    th Win
  tr  
    th Wolf 
    th -1 
    th 21 
    th 0 
    th 3 
    th 28 
    th Yes
  tr  
    th Enemy 
    th 0 
    th 20 
    th 5 
    th 0
    th 15
    th No