

section#combat
   div#monstre
      span#nomMonstre Bakanal:
      | HABILETÉ
      span#monstreAttaque 19
      | ENDURANCE
      span#monstreEndurance 30

   div.rondeCombat
      div
         | Ronde combat:
         span 1
      div
         p Ratio de combat: 4
         p Chiffre aléatoire: 3
      div
         p Ton ennemi a obtenu #[i 7] dégâts -
         p et a maintenant #[i 23] points d'endurance.
      div
         p Loup Solitaire a eu #[i 3] dégâts -
         p et a maintenant #[i 23] points d'endurance.

   div.rondeCombat
      div
         | Ronde combat:
         span 2
      div
         p Ratio de combat: 6
         p Chiffre aléatoire: 9
      div
         p Ton ennemi a obtenu #[i 16] dégâts -
         p et a maintenant #[i 27] points d'endurance.
      div
         p Loup Solitaire a eu #[i 0] dégâts -
         p et a maintenant #[i 20] points d'endurance.

   div#choixCombat
      button#combattre.button  COMBATTRE
      button#fuir.button FUIR