//
   Created by Zoe on 15-09-17.

block help
  //h1= title
  p
  |You keep a record of your adventure on the Action Chart.
  br
  br
  |During your training as a Kai Lord you have developed fighting prowess—COMBAT SKILL and physical stamina—ENDURANCE. Before you set off on your adventure you need to measure how effective your training has been. To do this take a pencil and, with your eyes closed, point with the blunt end of it onto the Random Number Table. If you pick 0 it counts as zero.
  br  
  br
  |The first number that you pick from the Random Number Table in this way represents your COMBAT SKILL. Add 10 to the number you picked and write the total in the COMBAT SKILL section of your Action Chart (i.e. if your pencil fell on the number 4 in the Random Number Table you would write in a COMBAT SKILL of 14). When you fight, your COMBAT SKILL will be pitted against that of your enemy. A high score in this section is therefore very desirable.
  br
  br
  |The second number that you pick from the Random Number Table represents your powers of ENDURANCE. Add 20 to this number and write the total in the ENDURANCE section of your Action Chart (i.e. if your pencil fell on the number 6 on the Random Number Table you would have 26 ENDURANCE points).
  br
  br
  |If you are wounded in combat you will lose ENDURANCE points. If at any time your ENDURANCE points fall to zero or below, you are dead and the adventure is over. Lost ENDURANCE points can be regained during the course of the adventure, but your number of ENDURANCE points can never rise above the number you started with.
  br
  br
  |If you have successfully completed any of the previous adventures in the Lone Wolf series, you will already have your COMBAT SKILL, ENDURANCE points, and Kai Disciplines which you can now carry over with you to Book 4. You may also carry over any Weapons and Special Items that you held at the end of your last adventure, and these should be entered on your new Action Chart. (You are still limited to two Weapons and eight Backpack Items.)
  br
  br
  |You may choose one bonus Kai Discipline to add to your Action Chart for every Lone Wolf adventure you have successfully completed, then read the section on equipment for Book 4 carefully.
  br
  br