//
   Created by Zoe on 15-09-13.

a(href='/')  Home |
a(href='/creation')  Create character |
a(href='/help')  Help

//ul
//  li a(href='/')  Home
//  li a(href='/creation')  Create character
//  li a(href='/help')  Help
