//
   Created by Zoe on 15-09-13.

nav
   ul
      li(class='menu_active')
         a(href='/') Accueil
      li(class='menu_active')
         a(href='/creation') Jeu
      li(class='menu_active')
         a(href='/help') Règles Du Jeu


