//
   Created by Zoe on 15-09-17.
h1 Combat records
table
   tr
      th Lone Wolf EP
      th Combat Ratio
      th Enemy EP

      each record in records
         tr
           td=record.wolfEp
           td=record.ratio
           td=record.enemyEP