//
   Created by Zoe on 15-09-17.
form(name="form-action", method="post")
   fieldset
      legend Combat Record
         table
            thead
               tr: th Lone Wolf EP
                  th Combat Ratio
                  th Enemy EP
            tbody
               tr: td 16
                  td -3
                  td 28