//
   Created by Zoe on 15-09-17.


h1 Wolf's equipments
p Weapons
ul
   each equipment in equipments
      -if(equipment.attri=="weapon")
         li=equipment.equipment_name + " (" + equipment.attri + ")"
div(id='all_items')
   button(id="special_items_btn" type="button") Special Items
   div(id="special_items" style="display:none;" class="items")
      ul
         each equipment in equipments
            -if(equipment.attri=="specialItem")
               li=equipment.equipment_name + " (" + equipment.attri + ")"

   button(id="backpack_items_btn" type="button") Backpack Items
   div(id="backpack_items" style="display:none;" class="items")
      ul
         each equipment in equipments
            -if(equipment.attri=="backpackItem")
               li=equipment.equipment_name + " (" + equipment.attri + ")"
         li=wolf.getGoldCrowns()+ " Gold Crowns"