#playerNameInput.ng-invalid.ng-dirty {
    border: 1px red solid;
}

#playerNameInput {
    border: 1px darkgrey solid;
}

li {
    list-style-type: none;
    float: left;
    padding: 12px;
    position: relative;
}

li input {
    height:20px;
    width:40px;
    padding:5px 8px;
    float:left;
}


label {
    display: inline-block;
    font-family:"Georgia", "Times", "Times New Roman", serif;
    width:200px;
    margin-top: 3px;
    padding:3px;
}

p.notification {
    color:#d45252;
    margin:5px 0 0 0;
}

p.error {
    color:#d45252;
    font-size: larger;
    margin:10px;
}

#fieldset_kai {
    margin-bottom: 30px;
}

