
body {
    position: relative;
    top: 45px;
    background-color: beige;
    color: #133e40;
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

head {
    position: relative;
    margin-top: 200px;
}

nav {
     position: fixed;
     background: #FFF;
     border: 1px solid #dedede;
     border-radius: 4px;
     box-shadow: 0 2px 2px -1px rgba(0,0,0,0.055);
     color: #888;
     display: block;
     top: 0px;
     left: 0px;
     width: 100%;
     overflow: hidden;
 }

ul {
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
    font-family: 'Lato', sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

nav li a {
    text-decoration: none;
    display: block;
    line-height: 40px;
    padding: 8px 15px;
    color: #555555;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

nav > ul > li:hover {
    background-color: rgb(40, 44, 47);
    border-radius: 5px;
}

nav > ul > li:hover > a {
    color: rgb(255, 255, 255);
}

#flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#flex-container > .flex-item {
    -webkit-flex: auto;
    flex: auto;
    margin: 20px;
    padding: 20px;
}

.form-action li {
    list-style-type: none;
    float: left;
    padding: 12px;
    position: relative;
}

.form-action input {
    height:20px;
    width:40px;
    padding:5px 8px;
    float:left;
}


.form-action label {
    display: inline-block;
    font-family:"Georgia", "Times", "Times New Roman", serif;
    width:200px;
    margin-top: 3px;
    padding:3px;
}

.notification {
    color:#d45252;
    margin:5px 0 0 0;
}

#fieldset_kai {
    margin-bottom: 30px;
}

/* Button Style */
button.submit {
    position: relative;
    left: 50px;
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    margin: 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer;
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;

}

#all_items{
    position: relative;
}

.all_items .items {
    display: none;
}
.all_items .items:target{
    display: block;
    opacity: 1;
    width: 200px;
    height: 200px;
    padding: 50px;
    background: black;
    z-index: 3;
}

img.text {
    float: right;
    margin: 0 0 10px 10px;
}

p{
    text-align: justify;
}

#backpack_change{
    position: center;
}
