
body {
    position: relative;
    background-color: beige;
    color: #133e40;
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}

a {
    cursor: pointer;
}

p {
    text-align: justify;
}


#flex-item-point p br {
    line-height: 200%;
}


div#flex-item-point p:first-letter{
    font-size: xx-large;
    vertical-align: bottom;
}

/*---*/
.header-logo{
    width: 100%;
}


/*1. menu style********/
nav {
     background: #FFF;
     border: 1px solid #dedede;
     color: #888;
     display: block;
     top: 0px;
     left: 0px;
     width: 100%;
     overflow: hidden;
 }


nav li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
    font-family: 'Lato', sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

nav li a {
    text-decoration: none;
    display: block;
    line-height: 40px;
    padding: 8px 15px;
    color: #555555;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

nav > ul > li:hover {
    background-color: rgb(40, 44, 47);
    border-radius: 5px;
}

nav > ul > li:hover > a {
    color: rgb(255, 255, 255);
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}
/*--------------------------*/

/*3.*/
#flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#flex-container > .flex-item {
    -webkit-flex: auto;
    flex: auto;
    margin: 20px;
    padding: 20px;
}

#flex-item-point {
    width: 60%;
}
#adventure {
    width: 40%;
}
/*-------------------*/


/* Button Style */
.button {
    position: relative;
    display:block;
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    height:30px;
    width:200px;
    font-weight: bold;
    padding: 6px 20px;
    text-decoration:none;
    text-align:center;
    margin: 20px auto;
    cursor: pointer;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
.button:hover {
    opacity:.85;
    cursor: pointer;
}
.button:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;

}
/*--------------------*/
a .close_items{
    display: none;
}

/*4.show box*/
.items {

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    visibility: hidden;
    display: none;
    z-index: 3;
    background-color: rgba(0,0,0,0.5);;
}

.items > a{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.items:target{
    visibility: visible;
    display: block;

}

#item_btn_container {
    padding: 20px;
}
#special_items_btn,#backpack_items_btn {
    text-decoration: none;
}

.list-items{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 600px;
    height: 400px;
    background: url("/images/items-bg.png");
    background-size: cover;
    padding: 5%;
}

.list-items ul {
    margin: 80px auto;
    font-family: Courier, "Lucida Console", monospace;
    color: darkgreen;
}

.list-items li {
    line-height: 64px;
    font-size: large;
    margin: 0;
    padding-left: 60px;
    list-style: none;

}

li.plw {
    background: url("/images/plw.jpg") no-repeat left top;
    background-size: 40px 40px;
}

li.potion {
    background: url("/images/potion.png") no-repeat left top;
    background-size: 40px 40px;
}
li.gold {
    background: url("/images/gold.png") no-repeat left top;
    background-size: 40px 40px;
}


img.text {
    float: right;
    margin: 0 0 10px 10px;
}
/*************/



section {
    width: 600px;
    margin: 50px auto 50px;
}

h1 {
    color: rgb(50,48,0);
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 40px;
}

section h2 {
    color: rgb(50, 48, 0);
    text-align: center;
    font-size: 1.5em;
    margin: 30px 0 20px;
}




/* FOOTER */
footer {
    width: 100%; /* L'en-tête doit prendre toute la largeur */
    height: 50px; /* L'en-tête a une taille spécifique */
    padding-top: 20px; /* BUG: Sans cette ligne, le haut de la boîte 'body' ne s'affiche pas en haut complètement.*/
    padding-bottom: 10px;
    background-color: rgba(1,1,1,0.8); /* Couleur arrière-plan légèrement transparent */
    text-align: center; /* On aligne le texte à l'intérieur de l'en-tête au centre */
    -webkit-box-shadow: 0px 0px 15px 0px #000000;
    -moz-box-shadow: 0px 0px 15px 0px #000000;
    box-shadow: 0px 0px 15px 0px #000000;
}

footer p {
    text-align: center;
    color: white;
    padding: 5px;
    margin: 0px;
}

footer a {
    text-decoration: none;
}



