p Les poils rêches qui couvrent la langue du Languabarb sont imprégnés d'un puissant venin grâce auquel la créature paralyse ses victimes avant de les dévorer. En moins de cinq secondes, le poison fait son effet, et vous perdez connaissance avant même que votre tête n'ait heurté la neige.

p Lorsque vous reprenez conscience, vous sentez un poids vous peser lourdement sur lapoitrine. C'est le cadavre d'Irian. Et tandis que vous essayez tant bien que mal de vous relever, une vision désolante s'offre à vous dans la brume du petit matin. Tous vos guides, en effet, sontmorts et ce qui reste de votre équipement est dispersé alentour.

p Les cadavres des deux Languabarbs sont étendus dans la neige tachée de sang : tous deux ont été tués à coups d'épée. Engourdi par le froid et le choc que vous venez de recevoir, vous cherchez pendant une heure votre Sac à Dos, parcourant d'un pas chancelant l'étendue glacée, lorsque vous vous apercevez enfin qu'il est toujours accroché à vos épaules.

p Bien que vous soyez toujours dans un état second, vous parvenez malgré tout à découvrir un chemin escarpé qui vous permet de poursuivre votre route. Un vent glacial souffle sur ces montagnes hostiles et si vous ne vous êtes pas enduit le corps d'huile de Bakanal, vous perdez 3 points d'ENDURANCE.
button.button Confirmer!

div#decision
    img(src="/images/decision.jpg")
    div
      p #[a(href="/jeu/155") Rendez-vous au 155]
