p Les Bakanals sont des créatures féroces et dangereuses qui n'ont peur que d'une chose : le feu. Saisissant alors une torche, vous l'allumez et vous sortez de la tente.

p Le vent souffle beaucoup plus fort qu'au moment où vous avez installé votre camp et la neige poudreuse est soulevée en petits tourbillons qui vous picotent les yeux. Une ombre mouvante à votre droite trahit la présence du Bakanal qui s'avance vers vous à grands bonds. Mais au moment où il s'apprête à vous sauter dessus, il aperçoit la flamme vacillante de votre torche et pousse un hurlement de terreur.Quelques secondes plus tard, il a disparu dans l'obscurité. Vous constatez bientôt que tous les chiens Kanu sont sains et saufs, bien qu'un peu nerveux, ce qui n'a rien d'étonnant. Pour être sûr que le Bakanal n'attaquera plus, vous prenez des tours de garde en tenant à portée de main armes et torches.

div#decision
    img(src="/images/decision.jpg")
    div
        p #[a(href="/jeu/134") Rendez-vous au 134]
