p Vous êtes arrivé à une centaine de mètres du défilé lorsqu'un vertige vous saisit et vous fait perdre l'équilibre. Vous essayez désespérément de vous accrocher à la paroi rocheuse, mais vous avez les mains engourdies par le froid et vous tombez dans la vallée. Votre corps, parfaitement conservé dans la glace, sera découvert par une équipe d'explorateurs dans environ deux mille ans, à quelques années près.

p Il va sans dire que votre mission s'achève ici en même temps que votre vie.
