p Vous devinez que le Bakanal cherche désespérément quelque chose à manger. Votre Discipline Kaï, cependant, ne vous sera d'aucune utilité : en effet, à présent qu'il a senti l'odeur des chiens Kanu, il vous sera impossible de lui ordonner de quitter le campement. Vous n'ignorez pas que les Bakanals sont de courageux chasseurs qui n'ont peur de rien, ou plutôt, qui n'ont peur que d'une seule chose : le feu. Vous saisissez alors unetorche, vous l'allumez et vous vous précipitez hors de la tente. Il fait nuit noire et il tombe une neige épaisse, mais un mouvement à votre droite trahit la présence du Bakanal qui s'avance vers vous. Au moment où il s'apprête à bondir, il aperçoit la flammede la torche et pousse aussitôt un hurlement de terreur. Une seconde plus tard, il a fait volte-face et il disparaît dans la nuit.

p Les chiens Kanu sont sains et saufs, mais pour être sûr que les Bakanals ne reviendront pas, vous décidez, cette nuit-là, de prendre des tours de garde en conservant une torche et une arme à portée de mai.

div#decision
    img(src="/images/decision.jpg")
    div
        p #[a(href="/jeu/134") Rendez-vous au 134]
