extends layout

block head
    link(rel="stylesheet", href="/stylesheets/creationJoueur.css")

block content
    img(src="/images/loup_solitaire.png")

    section
        h1 Création du personnage
        form(action="/jeu/1" method="post")
            fieldset
                legend Disciplines
                p Choisir 5 disciplines:
                div#gauche
                    label
                        input(type="checkbox" id="camouflage" name="camouflage" )
                        | Le camouflage
                    label
                        input(type="checkbox" id="chasse" name="chasse" )
                        | La chasse
                    label
                        input(type="checkbox" id="sixiemeSens" name="sixiemeSens" )
                        | Sixième Sens
                    label
                        input(type="checkbox" id="orientation" name="orientation" )
                        | L'Orientation
                    label
                        input(type="checkbox" id="guerison" name="guerison" )
                        | La guérison
                div#droite
                    label
                        input(type="checkbox" id="maitriseArmes" name="maitriseArmes" )
                        | La Maîtrise des Armes
                    label
                        input(type="checkbox" id="bouclierPsychique" name="bouclierPsychique" )
                        | Bouclier Psychique
                    label
                        input(type="checkbox" id="puissancePsychique" name="puissancePsychique" )
                        | Puissance Psychique
                    label
                        input(type="checkbox" id="communicationAnimale" name="communicationAnimale" )
                        | Communication Animale
                    label
                        input(type="checkbox" id="maitrisePsychiqueMatiere" name="maitrisePsychiqueMatiere" )
                        | Maîtrise Psychique de la Matière
            fieldset
                legend Équipement
                p Choisir 2 items:
                div
                    label
                        input(type="checkbox" id="epee" name="epee" )
                        | Épée (Arme)
                    label
                        input(type="checkbox" id="sabre" name="sabre" )
                        | Sabre (Arme)
                    label
                        input(type="checkbox" id="lance" name="lance" )
                        | Lance (Arme)
                    label
                        input(type="checkbox" id="masseArme" name="masseArme" )
                        | Masse d'Arme (Arme)
                    label
                        input(type="checkbox" id="marteauGuerre" name="marteauGuerre" )
                        | Marteau de Guerre (Arme)
                    label
                        input(type="checkbox" id="hache" name="hache" )
                        | Hâche (Arme)
                    label
                        input(type="checkbox" id="baton" name="baton" )
                        | Bâton (Arme)
                    label
                        input(type="checkbox" id="glaive" name="glaive" )
                        | Glaive (Arme)
                    label
                        input(type="checkbox" id="giletCuir" name="giletCuir" )
                        | Gilet de Cuir Martelé (Objet Spécial)
                    label
                        input(type="checkbox" id="potionLampsur" name="potionLampsur" )
                        | Potion de Lampsur (Objet dans le sac à dos)
                    label
                        input(type="checkbox" id="rationSpecial" name="rationSpecial" )
                        | Rations spéciales (Objet dans le sac à dos)
            input.button(type="submit" value="Commencer la partie!")
