doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/globale.css')
    block head
  body
    nav
        ul
            li
                a#accueil(href="/") Accueil
            li
                a#creationJoueur(href="/creationJoueur") Jeu
            li
                a#reglesJeu(href="/aide") Règles du jeu

    block content

    footer
        p Les Grottes de Kalte - Lone Wolf
        p Utilisé pour LOG4420 par Konstantinos Lambrou-Latreille

